html,
body {
  color: #ecf0f1;
  font-family: "Poppins", sans-serif;
  outline: none;
}

body {
  background-color: #121e2a !important;
}

.card {
  background-color: #172838;
  border: none;
}

.text-sm-center {
  text-align: inherit;
}

@media only screen and (max-width: 425px) {
  .text-sm-center {
    text-align: center !important;
  }
}
